    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color:rgb(15, 15, 15) ;
        color: #f1f1f1;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header"
            "content details"
            "footer footer";
    }

    hr {
        width: 100%; /* Makes it narrow */
        height: 1px; /* Sets the desired height */
        background-color: rgb(15, 15, 15); /* Adds color to make it visible */
        border: none; /* Removes default border */
    }

    button {
        background-color: rgba(255, 255, 0, 0.772);
        border: none;
        width: 10em;
        height: 4em;
        margin: 10%;
    }    

    button:hover {
        background-color: rgb(255, 255, 0);
    }

    .header {
        position: sticky;
        background-color: rgb(15, 15, 15);
        grid-area: header;
        top: 0;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        animation: fadeIn 1s ease-out;
    }

    .content {
        visibility: none;
        background-color: black;
        grid-area: content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .details {
        background-color: black;
        grid-area: details;
    }

    .footer {
        background-color: rgb(15, 15, 15);
        text-align: center;
        grid-area: footer;
        bottom: 0;
    }


    .logo {
        width: 45px;
        height: 45px;
    }


    .course-details {
        background-color: rgba(128, 128, 128, 0.395);
        max-width: 80%;
        height: auto;
        padding: 30px;
        border: none;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Video-title {
        align-self: flex-start;
        margin: 5px;
    }

    .description {
        margin: 20px;
    }

    .course-side-deatils{
        background-color: rgba(128, 128, 128, 0.395);
        max-width: 80%;
        height: auto;
        padding: 20px;
        margin-top: 10%;
        border: none;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}